<div class="container">

    <div class="row">

        <div class="col-12 text-center">
            <h2>Alta Direcion</h2>
        </div>

    </div>
</div>

<br>



<div class="row">

    <div class="col-12">

        <div class="form-group">
            <label for="">Calle</label>
            <input type="text" name="" id="" class="form-control" #calle>
        </div>

        <div class="form-group">
            <label for="">Numero</label>
            <input type="text" name="" id="" class="form-control" #numero>
        </div>

        <div class="form-group">
            <label for="">Colonia</label>
            <input type="text" name="" id="" class="form-control" #colonia>
        </div>

        <div class="form-group">
            <label for="">Ciudad</label>
            <input type="text" name="" id="" class="form-control" #ciudad>
        </div>

        <div class="form-group">
            <label for="">Estado</label>
            <input type="text" name="" id="" class="form-control" #estado>
        </div>

        <div class="form-group">
            <label for="">CP</label>
            <input type="text" name="" id="" class="form-control" #cp>
        </div>

        <div class="form-group">
        
            <button class="btn btn-success" (click)="guardarDireccion()">Guardar</button>
            
        </div>
    </div>

    
</div>

