<div class="container">

    <div class="row">

        <div class="col-12 text-center">

            <h2>Detalle de Direción</h2>

        </div>

        <div class="row">

            <div class="col-12">

                <div class="card-body">

                    <ul class="list-group">

                        <li class="list-group-item"><strong>ID:</strong> {{direccion.idD}}</li>
                        <li class="list-group-item"><strong>Calle:</strong>{{direccion.calle}}</li>
                        <li class="list-group-item"><strong>Numero:</strong>{{direccion.numero}}</li>
                        <li class="list-group-item"><strong>Colonia:</strong>{{direccion.colonia}}</li>
                        <li class="list-group-item"><strong>Ciudad:</strong>{{direccion.ciudad}}</li>
                        <li class="list-group-item"><strong>Estado:</strong>{{direccion.estado}}</li>
                        <li class="list-group-item"><strong>CP:</strong>{{direccion.cp}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
